html{
    background-color: rgb(29, 28, 28);
    color: white;
    font-family: 'Roboto', 'sans-serif';
}

.wrapper{
    width: 100%;
}

.logo{
    width: 80px;
}
nav {
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
nav .left,
nav .center,
nav .right,
.search-input,
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .left{
    
   margin-left: 20px;
   width: 10vw;
}

nav .right{
    margin-right: 20px;
    width: 14vw;
}

nav .center{
    width: 45vw;
}

nav .left,
nav .right{
    justify-content: space-between;
}

.search-input{
    background: black;
    width: inherit;
    height: inherit;
   
    padding: 10px;
}

input{
    background: rgb(0, 0, 0);
    border: hidden;
    width: inherit;
    height: inherit;
    
    padding: 1px 2px;
    font-size: 1.2vw;
}

main{
    display: flex;
}

section{
    margin-left: 40px;
    width: 800px;
    margin-top: 20px;
   
}

iframe{
    width: inherit;
    height: 450px;
 
}
h3{
    margin-top: 20px;
    margin-bottom: 15px;
}


 .details{
    width: inherit;
    display: flex;
    
    font-size: 15px;
}

.details p, .details span {
    color: rgb(75, 78, 80);
}
.details span{
    margin-left: 4px;
    margin-right: 4px;
    margin: 0px 4px;
}

aside{
    margin-top: 20px;
    margin-left: 30px;
}
.thumb{
    width: 50%;
}

  






